<h1>Editing authorization</h1>

<% form_for(@authorization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :is_confirmed %><br />
    <%= f.check_box :is_confirmed %>
  </p>
  <p>
    <%= f.label :device_name %><br />
    <%= f.text_field :device_name %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :device_token %><br />
    <%= f.text_field :device_token %>
  </p>
  <p>
    <%= f.label :validation_token %><br />
    <%= f.text_field :validation_token %>
  </p>
  <p>
    <%= f.label :activated_at %><br />
    <%= f.datetime_select :activated_at %>
  </p>
  <p>
    <%= f.label :last_used_at %><br />
    <%= f.datetime_select :last_used_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @authorization %> |
<%= link_to 'Back', authorizations_path %>